/**********************************************
GENERAL
***********************************************/
*, *:before, *:after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
}

html {
	background-image: url(../img/vegetable-background.jpg);
	background-position: top left;
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}


/**********************************************
HEADER
***********************************************/
header {
	/* background-color: blue; */
	height: 70px;
}



header #start-over {
	background-color: white;
	-webkit-border-radius: 0 0 5px 5px;
	   -moz-border-radius: 0 0 5px 5px;
		-ms-border-radius: 0 0 5px 5px;
		 -o-border-radius: 0 0 5px 5px;
	        border-radius: 0 0 5px 5px;
	float:right;
	height: 50px;
	line-height: 50px;
	margin-right:10px;
	text-align: center;
	width: 15%;
	-webkit-box-shadow: 0px 0px 8px 3px rgba(50, 50, 50, 1);
	   -moz-box-shadow: 0px 0px 8px 3px rgba(50, 50, 50, 1);
	        box-shadow: 0px 0px 8px 3px rgba(50, 50, 50, 1);
}

header #start-over:active {
	background-color: lawngreen;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(50, 50, 50, 1);
	   -moz-box-shadow: 0px 0px 0px 0px rgba(50, 50, 50, 1);
	        box-shadow: 0px 0px 0px 0px rgba(50, 50, 50, 1);	
	cursor: pointer;
}

header #start-over:hover {
	background-color: lawngreen;	
	cursor: pointer;
}

/**********************************************
PAGE: index.html
***********************************************/
article {
	/* background-color: green; */
	height:100%;
	margin: 0 auto;
	width:768px;
}
section {
	-webkit-border-radius: 0 10px 10px 10px;
	   -moz-border-radius: 0 10px 10px 10px;
		-ms-border-radius: 0 10px 10px 10px;
		 -o-border-radius: 0 10px 10px 10px;
	        border-radius: 0 10px 10px 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

	height:300px;
	width: 768px;
	background: white;
	border: 2px solid black;
	color: black;
	text-align: center;
}

section #question-number {
	background-color: white;
	-webkit-border-radius: 10px 10px 0 0;
	   -moz-border-radius: 10px 10px 0 0;
		-ms-border-radius: 10px 10px 0 0;
		 -o-border-radius: 10px 10px 0 0;
	        border-radius: 10px 10px 0 0;
	border-top: 2px solid black;
	border-right: 2px solid black;
	border-left: 2px solid black;
	float:left;
	height: 50px;
	line-height: 50px;
	margin-top: -50px;
	margin-left: -2px;
	width: 15%;
}

section #question-container {
	/*background-color: limegreen;*/
    position: absolute;
    left: 50%;
    top: 44%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
	color: black;
	height:50%;
	text-align: center;
}

section #choices {
	background-color: lightseagreen;
	-webkit-border-radius: 0px 0px 7px 7px;
	   -moz-border-radius: 0px 0px 7px 7px;
		-ms-border-radius: 0px 0px 7px 7px;
		 -o-border-radius: 0px 0px 7px 7px;
	        border-radius: 0px 0px 7px 7px;
	height:50%;
}

section #choices ul {
	/*background-color: lavender;*/
	list-style-type: none;
	margin-top:19.4%;
	margin-right: auto;
	margin-left: auto;
	padding:0;
	width:70%;
}

section #choices ul li {
	background-color: limegreen;
	border:1px solid black;
	float: left;
	height:50px;
	line-height: 50px;
	margin-top:3%;
	margin-left: 5%;
	width:42.5%;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	     -o-user-select: none;
	        user-select: none;
}

section #choices ul li:hover {
	background-color: white;
}

/**********************************************
FOOTER
***********************************************/
footer {
	position: absolute;
	bottom:0;
	right:0;
	left:0;
}

footer #status-container {
	height:50px;
	margin:0 auto;
	width:768px;
}

footer #status-box {
	background-color: white;
	-webkit-border-radius: 10px 10px 0 0;
	   -moz-border-radius: 10px 10px 0 0;
		-ms-border-radius: 10px 10px 0 0;
		 -o-border-radius: 10px 10px 0 0;
	        border-radius: 10px 10px 0 0;
	float:right;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 17%;	
}


/**********************************************
FIXES
***********************************************/
.group:after {
	clear: both;
	content: "";
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}